<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parametros del request HTTP GET-URL</title>
</head>
<body>
<h1>Enviar parametros del request HTTP GET-URL</h1>
    <div th:text="${resultado}"></div>
    <ul>
<li><a th:href="@{/params/string(texto='hola andres')}">/params/string?texto=hola Andres</a></li>
<li><a th:href="@{/params/string(texto='Que tal jhon')}">/params/string?texto=que tal jhon</a></li>
<li><a th:href="@{/params/mix-params(saludo='Buen dia como estas', numero='8')}">/params/mix-params?saludo=Buen día como estas&numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Buen dia como estas', numero='8')}">/params/mix-params-request?saludo=Buen día como estas&numero=7</a></li>
    </ul>
</body>
</html>